name: commitlint
on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ "**" ]   # run on all branches
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: wagoid/commitlint-github-action@v6
        with:
          configFile: commitlint.config.cjs
